th.mat-header-cell,
td.mat-cell {
  padding: 8px;
}

.centered-header {
  text-align: center;
}

.approved-row {
  background-color: #c8e6c9; /* Light green */
}

.pending-row {
  background-color: #fff9c4; /* Light yellow */
}

.rejected-row {
  background-color: #ffcdd2; /* Light red */
}

#reservation_place {
  width: 10px;
  overflow-wrap: break-word;
}

.pending {
  background-color: #fff9c4;
}

.aproved {
  background-color: #c8e6c9;
}

.rejected {
  background-color: #ffcdd2;
}

.circle {
  border-radius: 50%;
  display: inline-block;
  width: 20px;
  height: 20px;
  vertical-align: middle;
}

.list {
  display: flex; /* Enables flexbox layout */
  justify-content: space-between; /* Distributes items with equal space between them */
  align-items: center; /* Centers items vertically if needed */
  margin: 5px 15px 5px;
  background-color: inherit;
}

li {
  display: inline-block;
  font-size: 12px;
}
