header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  margin-bottom: 1rem;
  // background-color: #f8f9fa;
}

.logo img {
  height: 40px;
}

.actions {
  display: flex;
  gap: 1rem;
}

.actions button {
  font-weight: bold;
}

.actions span {
  margin-right: 1rem;
}

span {
  font-weight: bold;
}
