:host {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.container {
  display: flex;
  gap: 16px; /* Adds space between the two form fields */
}

mat-form-field {
  flex: 1; /* Ensures both fields take equal space */
}

button {
  margin-top: 5px;
}
