<div class="container" *ngIf="selectedDay">
  <mat-form-field>
    <mat-label>From</mat-label>
    <mat-select
      [(ngModel)]="selectedStartTime"
      (selectionChange)="onStartTimeChange()"
      [disabled]="!selectedDay"
    >
      <mat-option
        *ngFor="
          let time of allTemplateHours.slice(0, allTemplateHours.length - 1)
        "
        [value]="time"
        [disabled]="!isHourAvailable(time)"
      >
        {{ time }}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field>
    <mat-label>To</mat-label>
    <mat-select [(ngModel)]="selectedEndTime" [disabled]="!selectedDay">
      <mat-option *ngFor="let time of filteredToHours" [value]="time">
        {{ time }}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field>
    <mat-label>Place</mat-label>
    <mat-select
      [(ngModel)]="selectedPlace"
      (selectionChange)="onPlaceChange()"
      [disabled]="!selectedDay"
    >
      <mat-option *ngFor="let place of places" [value]="place">
        {{ place }}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <button
    mat-flat-button
    [disabled]="
      !selectedStartTime || !selectedEndTime || !selectedPlace || !currentUser
    "
    (click)="addReservation()"
  >
    Reserve
  </button>
</div>
