<div class="container">
  <mat-form-field class="full-width">
    <mat-label>From</mat-label>
    <mat-select [(ngModel)]="selectedStartTime" [disabled]="!selectedDay">
      <mat-option *ngFor="let time of availableHours" [value]="time">
        {{ time }}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field class="full-width">
    <mat-label>To</mat-label>
    <mat-select [(ngModel)]="selectedEndTime" [disabled]="!selectedDay">
      <mat-option *ngFor="let time of availableHours" [value]="time">
        {{ time }}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field class="full-width">
    <mat-label>Place</mat-label>
    <mat-select
      [(ngModel)]="selectedPlace"
      (selectionChange)="onPlaceChange()"
      [disabled]="!selectedDay"
    >
      <mat-option *ngFor="let place of places" [value]="place">
        {{ place }}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <button
    mat-raised-button
    class="full-width"
    [disabled]="!selectedStartTime || !selectedEndTime || !selectedPlace"
    (click)="addReservation()"
  >
    Reserve
  </button>
</div>
