.container {
  width: inherit;
  margin: 0 5px;

  display: grid;
  grid-template-columns: 1fr 1fr; /* Two equal-width columns */
  grid-template-rows: auto auto;
  column-gap: 2%; /* Control spacing between the form fields */
  // row-gap: 10px;
}

mat-form-field:nth-child(3) {
  grid-column: span 2; /* The third field spans across both columns */
  width: 100%; /* Ensure the third field takes the full width */
}

button {
  grid-column: span 2; /* The third field spans across both columns */
  width: 100%; /* Ensure the third field takes the full width */
  margin-bottom: 10px;
}
