<mat-card>
  <table
    mat-table
    [dataSource]="dataSource"
    matSort
    class="mat-table"
    [class.hidden]="false"
  >
    <!-- Type -->
    <ng-container matColumnDef="type">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>T</th>
      <td mat-cell *matCellDef="let reservation">
        <div class="type-cell">
          <!-- Circle with color based on reservation.type -->
          <span
            class="type-circle"
            [ngClass]="{
              'type-polish': reservation.type === 'PL',
              'type-ukrainian': reservation.type === 'UA',
              'type-other': reservation.type === 'Other'
            }"
          ></span>
        </div>
      </td>
    </ng-container>

    <!-- startHour Column -->
    <ng-container matColumnDef="startHour">
      <th
        mat-header-cell
        *matHeaderCellDef
        mat-sort-header
        class="centered-header"
      >
        Start
      </th>
      <td mat-cell *matCellDef="let reservation">
        {{ reservation.startHour }}
      </td>
    </ng-container>

    <!-- startHour Column -->
    <ng-container matColumnDef="endHour">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>End</th>
      <td mat-cell *matCellDef="let reservation">
        {{ reservation.endHour }}
      </td>
    </ng-container>

    <!-- Place Column -->
    <ng-container matColumnDef="place">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Place</th>
      <td
        mat-cell
        *matCellDef="let reservation"
        #reservation_place
        id="mat-cell-place"
      >
        {{ reservation.place }}
      </td>
    </ng-container>

    <!-- Actions Column -->
    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef class="centered-header">Menu</th>
      <td mat-cell *matCellDef="let reservation">
        <!-- Check what show: visibility or menu -->
        <ng-container
          *ngIf="
            !currentUser ||
              (currentUser.id !== reservation.user.id &&
                currentUser.role !== 'moderator' &&
                currentUser.role !== 'admin');
            else buttonMenu
          "
        >
          <button
            mat-icon-button
            color="primary"
            (click)="viewDetails(reservation)"
          >
            <mat-icon>visibility</mat-icon>
          </button>
        </ng-container>

        <ng-template #buttonMenu>
          <!-- menu -->
          <button
            mat-icon-button
            [matMenuTriggerFor]="menu"
            aria-label="Example icon-button with a menu"
            class="centered-header"
          >
            <mat-icon>more_vert</mat-icon>
          </button>
        </ng-template>

        <!-- menu -->
        <mat-menu #menu="matMenu">
          <!-- visibility -->
          <button mat-menu-item (click)="viewDetails(reservation)">
            <mat-icon>visibility</mat-icon>
            <span>Details</span>
          </button>

          <!-- delete -->
          <button
            mat-menu-item
            [disabled]="
              !(
                currentUser?.id === reservation.user.id ||
                currentUser?.role === 'admin' ||
                currentUser?.role === 'moderator'
              )
            "
            (click)="delete(reservation)"
          >
            <mat-icon>delete</mat-icon>
            <span>Delete</span>
          </button>

          <!-- edit -->
          <button mat-menu-item disabled>
            <mat-icon>edit</mat-icon>
            <span>Edit</span>
          </button>

          <!-- Type button to open submenu -->
          <button
            mat-menu-item
            [matMenuTriggerFor]="typeMenu"
            aria-label="Change type"
            [disabled]="
              !(
                currentUser?.id === reservation.user.id ||
                currentUser?.role === 'admin' ||
                currentUser?.role === 'moderator'
              )
            "
          >
            <mat-icon>category</mat-icon>
            <span>Type</span>
          </button>

          <!-- Pending Reject Aprove -->
          <ng-container
            *ngIf="
              currentUser?.role === 'admin' || currentUser?.role === 'moderator'
            "
          >
            <!-- Approve -->
            <button
              mat-menu-item
              (click)="approve(reservation)"
              [disabled]="reservation.status === 'Approved'"
            >
              <mat-icon>check_circle</mat-icon>
              <span>Approve</span>
            </button>

            <!-- Pending -->
            <button
              mat-menu-item
              (click)="pending(reservation)"
              [disabled]="reservation.status === 'Pending'"
            >
              <mat-icon>hourglass_bottom</mat-icon>
              <span>Pending</span>
            </button>
          </ng-container>

          <!-- Submenu for type selection -->
          <mat-menu #typeMenu="matMenu">
            <button mat-menu-item (click)="typeUA(reservation)">
              <mat-icon>flag</mat-icon>
              <span>UA</span>
            </button>
            <button mat-menu-item (click)="typePl(reservation)">
              <mat-icon>flag</mat-icon>
              <span>PL</span>
            </button>
            <button mat-menu-item (click)="typeOther(reservation)">
              <mat-icon>flag</mat-icon>
              <span>Other</span>
            </button>
          </mat-menu>
        </mat-menu>
      </td>
      <!-- menu -->
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr
      mat-row
      *matRowDef="let row; columns: displayedColumns"
      [ngClass]="getRowClass(row)"
    ></tr>
  </table>
  <ul class="list">
    <li><span class="circle pending"></span> - pending</li>
    <li><span class="circle aproved"></span> - approved</li>
    <!-- <li><span class="circle rejected"></span> - rejected</li> -->
  </ul>
</mat-card>
<!-- (click)="toggleSelection(row)" -->
