.container {
  width: inherit;
  margin: 0px 0px 1rem;
  background-color: white;
  //   scroll-behavior: smooth; /* Makes scrolling smooth */
}

mat-card {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  // margin: 0px;
}

mat-card-header {
  background-color: #f5f5f5;
  padding: 10px 10px;
  margin-bottom: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

mat-card-title {
  font-size: 1.2em;
  font-weight: bold;
}

mat-card-subtitle {
  font-size: 0.9em;
  color: #666;
}

mat-card-content p {
  margin-bottom: 8px;
}

mat-card-actions {
  display: flex;
  justify-content: space-around;
  padding: 10px 20px;
}

span {
  margin-right: 5px;
}

strong {
  font-weight: bold;
}

/* Basic styling for the color circle */
.color-circle {
  display: inline-block;
  width: 15px; /* Size of the circle */
  height: 15px; /* Size of the circle */
  border-radius: 50%; /* Make it a circle */
  border: #000000 solid 0.5px;
  margin-right: 8px; /* Space between the circle and text */
}

/* Flag for Poland (white and red) */
.circle-pl {
  background: linear-gradient(
    to bottom,
    white 50%,
    #f44336 50%
  ); /* Poland flag */
}

/* Flag for Ukraine (blue and yellow) */
.circle-ua {
  background: linear-gradient(
    to bottom,
    #1976d2 50%,
    #ffd700 50%
  ); /* Ukraine flag */
}

/* Generic or Other flag (gray) */
.circle-inne {
  background-color: #9e9e9e; /* Gray for Other */
}
