<mat-card class="container">
  <mat-card-header (click)="onClose()">
    <!-- Reservation Information -->
    <mat-card-subtitle>
      <span
        class="color-circle"
        [ngClass]="{
          'circle-pl': reservation?.type === 'PL',
          'circle-ua': reservation?.type === 'UA',
          'circle-inne': reservation?.type === 'Other'
        }"
      ></span>
      <!-- 
      <mat-icon>schedule</mat-icon> -->

      <span>{{ reservation?.startHour }} - {{ reservation?.endHour }}</span>
      <mat-icon>event</mat-icon>
      <span>{{ reservation?.date | date : "dd.MM.yyyy" }}</span>
    </mat-card-subtitle>

    <!-- Close Button -->
    <button mat-icon-button class="close-button" (click)="onClose()">
      <mat-icon>close</mat-icon>
    </button>
  </mat-card-header>

  <mat-card-content>
    <!-- Place -->
    <div>
      <p><strong>Place:</strong> {{ reservation?.place }}</p>
    </div>

    <!-- <p><strong>Type:</strong> {{ reservation?.type }}</p> -->

    <p><strong>Status:</strong> {{ reservation?.status || "Pending" }}</p>

    <p><strong>Reservator:</strong> {{ reservation?.user?.name }}</p>

    <!-- <p><strong>Contact:</strong> {{ reservation?.user?.email }}</p> -->

    <p><strong>Comment:</strong> {{ reservation?.comments }}</p>

    <p>
      <strong>Created:</strong>
      {{ reservation?.createdAt | date : "HH:mm" }} |
      {{ getOrdinal(reservation?.createdAt) }}
      {{ reservation?.createdAt | date : "MMMM yyyy" }}
    </p>

    <!-- <p>
      <strong>Last update:</strong>
      {{ reservation?.updatedAt | date : "HH.mm | dd.MM.yyyy" }}
    </p> -->
  </mat-card-content>

  <ng-container
    *ngIf="
      currentUser?.id === reservation?.user?.id ||
      currentUser?.role === 'moderator' ||
      currentUser?.role == 'admin'
    "
  >
    <mat-card-actions align="end">
      <!-- Type button to open submenu -->
      <button
        mat-menu-item
        [matMenuTriggerFor]="typeMenu"
        aria-label="Change type"
      >
        <mat-icon>category</mat-icon>
      </button>

      <!-- Submenu for type selection -->
      <mat-menu #typeMenu="matMenu">
        <button mat-menu-item (click)="typeUA()">
          <span
            class="color-circle color-circle-15"
            [ngClass]="'circle-ua'"
          ></span>
          <span>UA</span>
        </button>
        <button mat-menu-item (click)="typePl()">
          <span
            class="color-circle color-circle-15"
            [ngClass]="'circle-pl'"
          ></span>
          <span>PL</span>
        </button>
        <button mat-menu-item (click)="typeOther()">
          <span
            class="color-circle color-circle-15"
            [ngClass]="'circle-inne'"
          ></span>
          <span>Other</span>
        </button>
      </mat-menu>

      <ng-container
        *ngIf="
          currentUser?.role === 'admin' || currentUser?.role === 'moderator'
        "
      >
        <!-- Approve -->
        <button
          mat-button
          color="primary"
          (click)="approve()"
          [disabled]="reservation?.status === 'Approved'"
        >
          <mat-icon>check_circle</mat-icon>
        </button>
        <!-- Pending -->
        <button
          mat-button
          color="primary"
          (click)="pending()"
          [disabled]="reservation?.status === 'Pending'"
        >
          <mat-icon>hourglass_bottom</mat-icon>
        </button>
      </ng-container>

      <!-- Edit -->
      <button mat-button color="primary" (click)="edit()" disabled>
        <mat-icon>edit</mat-icon>
      </button>
      <!-- Delete -->
      <button mat-button color="warn" (click)="delete()">
        <mat-icon>delete</mat-icon>
      </button>
    </mat-card-actions>
  </ng-container>
</mat-card>
