[data-theme='light'] {
    --primary-color: #373f59;
    --accent-color: #e4eef3;

    --warn-color: #e53935;
    --success-color: #4caf50;
    --warning-color: #ff9800;
    --info-color: #1976d2;

    --bg-color: #f9fafb;
    --surface-color: #ffffff;
    --text-primary-color: #212121;
    --text-secondary-color: #757575;
}
