$primary-color: #3498db;
$secondary-color: #2ecc71;
$accent-color: #e74c3c;
$background-color: #ffffff;
$text-color: #ffffff;

$max-width: 430px;
$min-width: 320px;

$pending: #fff9c4;
$aproved: #c8e6c9;
$rejected: #ffcdd2;
