.form-container {
  width: 300px;
  margin: 0 auto;
  padding: 20px;
  box-sizing: border-box;
}
.declaration {
  text-align: center;
  font-size: 20px;
  font-weight: bold;
}

.required {
  color: red;
}

mat-card {
  padding: 20px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.full-width {
  width: 100%;
  margin-bottom: 10px;
}

button {
  background-color: #00559b;
  color: white;
  margin-left: 0px;
  width: 100%;
}
