h6 {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 10px;
}

mat-dialog-content {
  text-align: center;
}

.mat-dialog-actions {
  display: flex; /* Use flexbox to align the buttons */
  justify-content: center; /* Center the buttons horizontally */
  gap: 10px; /* Adds some space between the buttons */
}

button {
  margin: 0 auto; /* Optional: Adds auto margin to ensure centering if other styles are applied */
}
