<div class="container">
  <!-- Calendar -> Start date -->
  <mat-form-field appearance="outline">
    <mat-label>Start date</mat-label>
    <input
      matInput
      [matDatepicker]="startPicker"
      [(ngModel)]="startDay"
      (ngModelChange)="filterByDate()"
    />
    <mat-datepicker-toggle matIconSuffix [for]="startPicker">
      <mat-icon matDatepickerToggleIcon>event</mat-icon>
    </mat-datepicker-toggle>
    <mat-datepicker #startPicker></mat-datepicker>
  </mat-form-field>

  <!-- Calendar -> End date -->
  <mat-form-field appearance="outline">
    <mat-label>End date</mat-label>
    <input
      matInput
      [matDatepicker]="endPicker"
      [(ngModel)]="endDay"
      [min]="startDay"
      (ngModelChange)="filterByDate()"
    />
    <mat-datepicker-toggle matIconSuffix [for]="endPicker">
      <mat-icon matDatepickerToggleIcon>event</mat-icon>
    </mat-datepicker-toggle>
    <mat-datepicker #endPicker></mat-datepicker>
  </mat-form-field>

  <!-- Filter -->
  <mat-form-field class="chip-list" appearance="outline">
    <mat-label><mat-icon>filter_list</mat-icon></mat-label>

    <!-- Chips for selected filters -->
    <mat-chip-grid #chipGrid aria-label="Filter selection">
      <mat-chip-row
        *ngFor="let filter of selectedFilters"
        (removed)="removeFilterAsChip(filter)"
      >
        {{ filter.label }} ({{ filter.group }})
        <button matChipRemove [attr.aria-label]="'remove ' + filter.label">
          <mat-icon>cancel</mat-icon>
        </button>
      </mat-chip-row>
    </mat-chip-grid>

    <!-- Input field for filter autocomplete -->
    <input
      placeholder="Add filter..."
      [matChipInputFor]="chipGrid"
      [matAutocomplete]="auto"
      (matChipInputTokenEnd)="addFilterAsChip($event)"
    />

    <!-- Autocomplete for group data (Types, Places, Status) -->
    <mat-autocomplete
      #auto="matAutocomplete"
      (optionSelected)="selectedFilter($event)"
    >
      <mat-optgroup *ngFor="let group of groupedFilters" [label]="group.name">
        <mat-option
          *ngFor="let filter of group.items"
          [value]="filter"
          [disabled]="isFilterSelected({ label: filter, group: group.name })"
        >
          {{ filter }}
        </mat-option>
      </mat-optgroup>
    </mat-autocomplete>
  </mat-form-field>

  <!-- List -->
  <ng-container *ngIf="reservationsOfDays.length > 0; else noRes">
    <mat-accordion [multi]="true">
      <mat-expansion-panel *ngFor="let dayReservations of reservationsOfDays">
        <mat-expansion-panel-header>
          <mat-panel-title>
            {{ getFormattedDateWithOrdinal(dayReservations.date) }}
          </mat-panel-title>
        </mat-expansion-panel-header>

        <mat-panel-description class="panel">
          <app-list
            class="panel"
            [reservation]="dayReservations.reservations"
            [currentUser]="currentUser$ | async"
          ></app-list>
        </mat-panel-description>
      </mat-expansion-panel>
    </mat-accordion>
  </ng-container>

  <ng-template #noRes>
    <div class="no-reservations">
      <p>No reservations found for the selected dates or filters</p>
    </div>
  </ng-template>
</div>
