<ng-container *ngIf="isLoading$ | async; else content">
  <app-loading />
</ng-container>

<ng-template #content>
  <div class="form-container login">
    <mat-card>
      <a href="/reservation">
        <img src="logo2.png" alt="Logo" />
      </a>
      @if (typeAuthorisation() === 'register'){
      <p class="declaration">Sign Up</p>
      } @else {
      <p class="declaration">Sign In</p>
      }
      <ng-content />
      @if(errorsMessages()?.length){
      <ul>
        <li>{{ errorsMessages() }}</li>
      </ul>
      }

      <form [formGroup]="authorisationForm" (ngSubmit)="onSubmit()">
        @if (typeAuthorisation() === 'register'){

        <mat-form-field appearance="outline" class="full-width">
          <mat-label>Username </mat-label>
          <input matInput formControlName="name" required />
          <mat-error
            *ngIf="authorisationForm.get('name')?.hasError('required')"
          >
            Username is required
          </mat-error>
        </mat-form-field>
        }

        <mat-form-field appearance="outline" class="full-width">
          <mat-label>Email </mat-label>
          <input matInput formControlName="email" required autofocus />
          <mat-error
            *ngIf="authorisationForm.get('email')?.hasError('required')"
          >
            Email is required
          </mat-error>
          <mat-error *ngIf="authorisationForm.get('email')?.hasError('email')">
            Invalid email format
          </mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline" class="full-width">
          <mat-label>Password </mat-label>
          <input matInput type="password" formControlName="password" required />
          <mat-error
            *ngIf="authorisationForm.get('password')?.hasError('required')"
          >
            Password is required
          </mat-error>
          <mat-error
            *ngIf="authorisationForm.get('password')?.hasError('minlength')"
          >
            Password must be at least 8 characters long
          </mat-error>
        </mat-form-field>

        <button
          mat-flat-button
          color="primary"
          type="submit"
          [disabled]="authorisationForm.invalid"
        >
          @if (typeAuthorisation() === 'register') { Register } @else { Login }
        </button>
      </form>
    </mat-card>
  </div>
</ng-template>
