.form-container {
  width: 300px;
  margin: none;
  padding: 20px;
  box-sizing: border-box;
}

.login {
  width: inherit;
  max-width: 430px;
}

.declaration {
  text-align: center;
  font-size: 20px;
  font-weight: bold;
}

.required {
  color: red;
}

mat-card {
  padding: 20px;
  background-color: white;
}

.full-width {
  width: 100%;
  margin-bottom: 10px;
}

button {
  background-color: #00559b;
  color: white;

  width: 100%;
}
