<div class="reservation-detail">
  <h6>Reservation Details</h6>

  <div class="reservation-info">
    <p><strong>Date:</strong> {{ reservation.date }}</p>
    <p>
      <strong>Time:</strong> {{ reservation.startHour }} -
      {{ reservation.endHour }}
    </p>
    <p><strong>Place:</strong> {{ reservation.place }}</p>
    <p><strong>Reservator:</strong> {{ reservation.user.name }}</p>
    <p><strong>Contact:</strong> ({{ reservation.user.email }})</p>
    <p><strong>Status:</strong> {{ reservation.status || "Pending" }}</p>
    <p *ngIf="reservation.comments?.length ? true : false">
      <strong>Comment:</strong> {{ reservation.comments }}
    </p>

    <!-- <div *ngIf="reservation.comments && reservation.comments.length > 0">
      <h6>Comments:</h6>
      <ul>
        <li *ngFor="let comment of reservation.comments">
          {{ comment }}
        </li>
      </ul>
    </div> -->
  </div>

  <div class="reservation-actions">
    <button mat-button color="primary" (click)="closeDialog()">Close</button>
  </div>
</div>
