<div class="reservation-detail">
  <h6>Reservation Details</h6>

  <div class="reservation-info">
    <p><strong>Date:</strong> {{ reservation.date }}</p>
    <p>
      <strong>Time:</strong> {{ reservation.startHour }} -
      {{ reservation.endHour }}
    </p>
    <p><strong>Place:</strong> {{ reservation.place }}</p>
    <p>
      <strong class="comments">Reservator:</strong> {{ reservation.user.name }}
    </p>
    <p>
      <strong class="comments">Contact:</strong> ({{ reservation.user.email }})
    </p>
    <p><strong>Status:</strong> {{ reservation.status || "Pending" }}</p>
    <p *ngIf="reservation.comments?.length ? true : false" class="comments">
      <strong>Comment:</strong> {{ reservation.comments }}
    </p>

    <ng-container
      class="reservation-actions"
      *ngIf="
        reservation.caller && reservation.caller.length > 0;
        else closeOnly
      "
    >
      <p *ngIf="reservation.repeat ? true : false">
        <strong>Repeat:</strong> ({{ reservation.repeat }})
      </p>
      <div mat-dialog-actions>
        <button mat-flat-button (click)="onCancel()">Close</button>
        <button mat-button color="warn" (click)="onConfirm()">Reserve</button>
      </div>
    </ng-container>

    <ng-template #closeOnly>
      <div class="reservation-actions">
        <button mat-flat-button color="primary" (click)="onCancel()">
          Close
        </button>
      </div>
    </ng-template>
  </div>
</div>
