.container {
  position: relative;
  padding-bottom: 100px; /* To provide space for the floating button */
}

.con {
  margin-left: 5px;
  margin-right: 5px;
}

.floating-button {
  /* Ensure the button is always on top */
  width: 60px; /* Set width for the circle */
  height: 60px; /* Set height for the circle */
  // background-color: lightgreen; /* Light green color */
  background-color: #3376b9;
  border-radius: 50%; /* Make it a perfect circle */
  display: flex; /* Center the content inside */
  justify-content: center; /* Horizontally center the icon */
  align-items: center; /* Vertically center the icon */
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); /* Optional shadow for effect */
}

.floating-button mat-icon {
  font-size: 24px; /* Size of the icon inside */
  color: white; /* Icon color */
}

.button-container {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 1000;
  display: flex; /* Use flexbox to align buttons side by side */
  gap: 16px; /* Add space between the buttons */
}

.container {
  padding-bottom: 0;
  margin-bottom: 5px !important;
}

app-calendar {
  margin-bottom: 15px;
}
