<div class="container">
  <app-header />
  <ng-container *ngIf="isLoading$ | async; else content">
    <app-loading />
  </ng-container>

  <ng-template #content>
    <mat-tab-group #tabGroup mat-stretch-tabs="true" mat-align-tabs="start">
      <!-- Day -->
      <mat-tab label="Day">
        <br />
        <mat-card class="container">
          <app-calendar />
          <ng-container
            *ngIf="isLoadingUpdateReservation$ | async; else listTime"
          >
            <app-loading />
          </ng-container>
        </mat-card>

        <!-- if -->

        <!-- else -->
        <ng-template #listTime>
          <ng-container *ngIf="isChildVisible && selectedDay">
            <app-list
              *ngIf="reservation.length > 0; else noRes"
              [reservation]="reservation"
              [currentUser]="currentUser$ | async"
            />

            <ng-template #noRes>
              <div class="no-reservations">
                <p>no reservations</p>
              </div>
            </ng-template>
          </ng-container>
        </ng-template>

        <div class="button-container">
          <!-- buttond Add -->

          <button
            mat-fab
            color="primary"
            class="floating-button"
            (click)="goToReserveTab()"
            *ngIf="currentUser$ | async"
          >
            <mat-icon>add</mat-icon>
          </button>

          <!-- buttond List -->

          <button
            mat-fab
            color="primary"
            class="floating-button"
            (click)="goToList()"
          >
            <mat-icon>list</mat-icon>
          </button>
        </div>
      </mat-tab>

      <!-- Reserve -->
      <ng-container *ngIf="currentUser$ | async">
        <mat-tab label="Add">
          <br /><app-create-reservation />
          <div class="button-container">
            <!-- buttond Add -->

            <button
              mat-fab
              color="primary"
              class="floating-button"
              (click)="goToDay()"
            >
              <mat-icon>arrow_back</mat-icon>
            </button>

            <!-- buttond Add -->

            <button
              mat-fab
              color="primary"
              class="floating-button"
              (click)="goToList()"
            >
              <mat-icon>list</mat-icon>
            </button>
          </div></mat-tab
        >
      </ng-container>

      <!-- List -->
      <mat-tab label="List"
        ><br />
        <app-full-list />
        <div class="button-container">
          <!-- buttond Add -->

          <button
            mat-fab
            color="primary"
            class="floating-button"
            (click)="goToDay()"
          >
            <mat-icon>list</mat-icon>
          </button>

          <!-- buttond Add -->

          <button
            *ngIf="currentUser$ | async"
            mat-fab
            color="primary"
            class="floating-button"
            (click)="goToReserveTab()"
          >
            <mat-icon>add</mat-icon>
          </button>
        </div>
      </mat-tab>
    </mat-tab-group>
  </ng-template>
  <app-footer />
</div>
