<div class="container">
  <app-header />
  <ng-container *ngIf="isLoading$ | async; else content">
    <app-loading />
  </ng-container>

  <ng-template #content>
    <mat-tab-group #tabGroup>
      <!-- Day -->
      <mat-tab label="Day">
        <br />
        <app-calendar />
        <!-- if -->
        <ng-container
          *ngIf="isLoadingUpdateReservation$ | async; else listTime"
        >
          <app-loading />
        </ng-container>
        <!-- else -->
        <ng-template #listTime>
          <app-list
            *ngIf="isChildVisible && selectedDay"
            [reservation]="reservation"
            [currentUser]="currentUser$ | async"
          />
        </ng-template>

        <div class="button-container">
          <!-- buttond Add -->
          <ng-container *ngIf="currentUser$ | async">
            <button
              mat-fab
              color="primary"
              class="floating-button"
              (click)="goToReserveTab()"
            >
              <mat-icon>add</mat-icon>
            </button>
          </ng-container>
          <!-- buttond Add -->
          <ng-container *ngIf="currentUser$ | async">
            <button
              mat-fab
              color="primary"
              class="floating-button"
              (click)="goToList()"
            >
              <mat-icon>list</mat-icon>
            </button>
          </ng-container>
        </div>
      </mat-tab>

      <!-- Reserve -->
      <ng-container *ngIf="currentUser$ | async">
        <mat-tab label="Add">
          <br /><app-create-reservation />
          <div class="button-container">
            <!-- buttond Add -->
            <ng-container *ngIf="currentUser$ | async">
              <button
                mat-fab
                color="primary"
                class="floating-button"
                (click)="goToDay()"
              >
                <mat-icon>arrow_back</mat-icon>
              </button>
            </ng-container>
            <!-- buttond Add -->
            <ng-container *ngIf="currentUser$ | async">
              <button
                mat-fab
                color="primary"
                class="floating-button"
                (click)="goToList()"
              >
                <mat-icon>list</mat-icon>
              </button>
            </ng-container>
          </div></mat-tab
        >
      </ng-container>

      <!-- List -->
      <mat-tab label="List"
        ><br />
        <app-full-list />
        <div class="button-container">
          <!-- buttond Add -->
          <ng-container *ngIf="currentUser$ | async">
            <button
              mat-fab
              color="primary"
              class="floating-button"
              (click)="goToDay()"
            >
              <mat-icon>list</mat-icon>
            </button>
          </ng-container>
          <!-- buttond Add -->
          <ng-container *ngIf="currentUser$ | async">
            <button
              mat-fab
              color="primary"
              class="floating-button"
              (click)="goToReserveTab()"
            >
              <mat-icon>add</mat-icon>
            </button>
          </ng-container>
        </div>
      </mat-tab>
    </mat-tab-group>
  </ng-template>
</div>
