@import "styles/main";
@import "styles/reset";
@import "styles/variables";
@import "styles/mixins";
@import "styles/utilities";

$pending: #fff9c4;
$aproved: #c8e6c9;
$rejected: #ffcdd2;

$max-width: 430px;
$min-width: 320px;

body,
html {
  width: 100%;
  margin: 0;
}

.container {
  min-width: $min-width;
  max-width: $max-width;
}

mat-card {
  width: inherit;
  margin: 0px 5px 1rem;
  // background-color: rgb(223, 5, 5);
}

// @media (max-width: 431px) {
//   body {
//     display: grid;
//     grid-template-columns: 1fr;
//     justify-content: center;
//   }
// }

@media (min-width: 432px) {
  body {
    display: flex;
    justify-content: center;
  }
  .login {
    max-width: 250px;
  }
}
