@import "styles/main";
@import "styles/reset";
@import "styles/variables";
@import "styles/mixins";
@import "styles/utilities";

$pending: #fff9c4;
$aproved: #c8e6c9;
$rejected: #ffcdd2;

html,
body {
  height: 100%;
  margin: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: $background-color;
}

.main_container {
  max-width: $max-width;
  min-width: $min-width;
}

.card {
  width: auto;
  margin: 0 5px 10px;
}
