p {
  text-align: center;
  margin-left: 12px;
  font-size: 12px;
}

::ng-deep
  .mat-calendar-body-cell.available-date
  .mat-calendar-body-cell-content {
  background-color: #ccffcc;
  color: green;
  border-radius: 50%;
}

::ng-deep
  .mat-calendar-body-cell.reserved-full-day
  .mat-calendar-body-cell-content {
  background-color: #ff8888;
  color: rgb(180, 5, 5);
  border-radius: 50%;
}

::ng-deep
  .mat-calendar-body-cell.reserved-partial-day
  .mat-calendar-body-cell-content {
  background-color: #f1a5ff;
  color: rgb(120, 0, 168);
  border-radius: 50%;
}

::ng-deep
  .mat-calendar-body-cell.selected-date
  .mat-calendar-body-cell-content {
  background-color: #f6ef14;
  color: rgb(31, 32, 23);
  border-radius: 50%;
}

.list {
  display: flex; /* Enables flexbox layout */
  justify-content: space-between; /* Distributes items with equal space between them */
  align-items: center; /* Centers items vertically if needed */
  margin: 10px 15px 0px;
}

li {
  display: inline-block;
  font-size: 12px;
}

.circle {
  border-radius: 50%;
  display: inline-block;
  width: 20px;
  height: 20px;
  vertical-align: middle;
}

.available {
  background-color: #ccffcc;
}

.reserved-full {
  background-color: #ff8888;
}

.reserved-partial {
  background-color: #f1a5ff;
}

mat-calendar {
  width: 100%;
}
