<mat-card class="inline-calendar-card">
  @if (showCalendar){
  <mat-calendar
    [minDate]="minDate"
    [maxDate]="maxDate"
    [startAt]="selectedDate"
    [selected]="selectedDate"
    (selectedChange)="select($event)"
    [dateClass]="dateClass"
  ></mat-calendar>
  }
  <ul class="list">
    <li><span class="circle available"></span> - available</li>
    <li><span class="circle reserved-partial"></span> - partial</li>
    <li><span class="circle reserved-full"></span> - full</li>
  </ul>
  <p>
    Selected date: <strong>{{ selectedDate | date : "yyyy-MM-dd" }}</strong>
  </p>
</mat-card>
