@import "../../../../styles/variables";

.no-reservations {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px; /* Adjust height as needed */
  font-size: 1.5rem; /* Font size for the text */
  color: #757575; /* Grey color for the message */
  background-color: #f9f9f9; /* Light background for contrast */
  border-radius: 8px; /* Rounded corners */
  border: 2px dashed #ccc; /* Dashed border for a subtle effect */
  text-align: center;
  padding: 20px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1); /* Light shadow for depth */
}
.no-reservations p {
  margin: 5px;
}

.approved-row {
  background-color: $aproved; /* Light green */
}

.pending-row {
  background-color: $pending; /* Light yellow */
}

.rejected-row {
  background-color: $rejected; /* Light red */
}

// bottom information pending or approved
.list {
  display: flex; /* Enables flexbox layout */
  justify-content: space-evenly; /* Distributes items with equal space between them */
  align-items: center; /* Centers items vertically if needed */
  margin: 5px 15px 5px;
  background-color: inherit;
}

li {
  display: inline-block;
  font-size: 12px;
}

.circle {
  border-radius: 50%;
  display: inline-block;
  width: 20px;
  height: 20px;
  vertical-align: middle;
  border: 0.5px solid black;
}

#reservation_place {
  width: 10px;
  overflow-wrap: break-word;
}

.pending {
  background-color: $pending;
}

.aproved {
  background-color: $aproved;
}

.rejected {
  background-color: $rejected;
}

//Circl
/* Ensure that the type-cell displays the circle and the text properly */
.type-cell {
  display: flex;
  align-items: center;
}

/* Basic styling for the circle */
.type-circle {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  border: solid black 0.5px;
  display: inline-block;
}

.mat-table {
  border-radius: 5%; /* Apply border-radius to the entire table */
  overflow: hidden; /* Ensures content respects the border-radius */
  width: inherit !important;
  border-radius: 8px;
}

.type-polish {
  background: linear-gradient(to bottom, white 50%, #f44336 50%);
}

.type-ukrainian {
  background: linear-gradient(to bottom, #1976d2 50%, #ffd700 50%);
}

.type-other {
  background-color: #9e9e9e;
}

tr.mat-row,
tr.mat-header-row,
td.mat-cell,
th.mat-header-cell {
  height: 10px !important;
}

/* Style for selected row */
.selected-row {
  background-color: #99e49a !important; /* Light green background */
  color: black; /* Optional: Change text color */
}

//animation
.reservation-details {
  max-height: 0;
  overflow: hidden;
  opacity: 0;
  transition: max-height 0.5s ease, opacity 0.5s ease;
}

.show-details {
  max-height: 500px;
  opacity: 1;
  transition: max-height 0.5s ease, opacity 0.5s ease;
}
.time-header {
  padding: 5px;
  margin: 0;
  max-width: 25px;
  text-align: center;
}

.time-row {
  padding: 5px;
  max-width: 25px;
  margin: 0;
}

//Columns and rows pf mat-table
.type {
  padding: 10px;
  margin-left: 0px;
  max-width: 10px;
  text-align: center;
}

.place-header {
  padding: 5px;
  margin: 0;
  max-width: 35px;
  text-align: center;
}

.place-row {
  padding: 5px;
  max-width: 40px;
  margin: 0;
}

.comment-header {
  margin: 0;
  max-width: 60px;
  text-align: center;
}

.comment-row {
  max-width: 60px;
  margin: 0;
  word-wrap: break-word;
  line-clamp: 2;

  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

mat-card {
  max-height: 500px; /* Set maximum height */
  overflow: auto;
}
